
body{
    margin: 0;
}

.picto {
    width: 8em;
    height: auto;
    margin: 20px;
}

#connect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
  }

#key {
    text-align: center;
    font-size: 2em;
    width: 4em;
}