
body{
    margin: 0;
}

#interface {

}

#message {
    display:flex;
    flex-direction: row;

    border: #4CAF50 5px dashed;
    padding: 0.5%;
    align-items: center;
}

#fakePicto{
    height: 80px;
    margin: 1%;
    width: 80px;
}

#message .material-icons{
    margin: 10px;
    font-size: 50px;
    cursor: pointer;
}

#message #delete {
    margin-left: auto;
}

/* #message .picto {
    height: 80px;
} */

#input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: stretch; */
    
    width: 100%;
}

#input * {
    min-width: 0;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;

    border: black 2px solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    padding: 1%;
}

.category > *{
    display: flex;
    flex-direction: row;
}

.picto {
    margin: 1%;
    width: 80px;

    flex-shrink: 1;
}


/* connection elements */
#connect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
  }

#key {
    text-align: center;
    font-size: 2em;
    width: 4em;
    text-transform: lowercase;
}


/* utility */
.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}